@charset "utf-8";

.ico {
    background-size: cover !important;
    display: inline-block;
}

.i-user {
    background: url(../img/ico/i-user.png);
    height: 16px;
    width: 16px;
}

.i-clock {
    background: url(../img/ico/i-clock.png);
    height: 16px;
    width: 16px;
}

.i-arrow-down {
    background: url(../img/ico/i-arrow-down.png);
    height: 16px;
    width: 16px;
}

.i-user-admin {
    background: url(../img/ico/i-user-admin.png);
    height: 24px;
    width: 24px;
}

.i-logout {
    background: url(../img/ico/i-logout.png);
    height: 24px;
    width: 24px;
}

.i-new-window {
    background: url(../img/ico/i-new-window.png);
    height: 16px;
    width: 16px;
}

.i-arrow-left {
    background: url(../img/ico/i-arrow-left.png);
    height: 16px;
    width: 16px;
}

.i-arrow-right {
    background: url(../img/ico/i-arrow-right.png);
    height: 16px;
    width: 16px;
}

.i-list {
    background: url(../img/ico/i-list.png);
    height: 24px;
    width: 24px;
}

.i-home {
    background: url(../img/ico/i-home.png);
    height: 16px;
    width: 16px;
}

.i-chevron-right {
    background: url(../img/ico/i-chevron-right.png);
    height: 10px;
    width: 10px;
}

.i-arrow-double-left {
    background: url(../img/ico/i-arrow-double-left.png);
    height: 28px;
    width: 28px;
}

.i-arrow-double-right {
    background: url(../img/ico/i-arrow-double-right.png);
    height: 28px;
    width: 28px;
}

.i-ecg {
    background: url(../img/ico/i-ecg.png);
    height: 60px;
    width: 60px;
}

.i-gear {
    background: url(../img/ico/i-gear.png);
    height: 24px;
    width: 24px;
}

.i-x {
    background: url(../img/ico/i-x.png);
    height: 24px;
    width: 24px;
}

.i-search {
    background: url(../img/ico/i-search.png);
    height: 16px;
    width: 16px;
}

.i-recording {
    background: url(../img/ico/i-recording.png);
    height: 14px;
    width: 14px;
}

.i-paired {
    background: url(../img/ico/i-paired.png);
    height: 14px;
    width: 14px;
}

.i-monitoring {
    background: url(../img/ico/i-monitoring.png);
    height: 14px;
    width: 14px;
}

.i-uploaded {
    background: url(../img/ico/i-uploaded.png);
    height: 14px;
    width: 14px;
}

.i-holmes-analyzing {
    background: url(../img/ico/i-holmes-analyzing.png);
    height: 14px;
    width: 14px;
}

.i-holmes-analyzed {
    background: url(../img/ico/i-holmes-analyzed.png);
    height: 14px;
    width: 14px;
}

.i-pending-signature {
    background: url(../img/ico/i-pending-signature.png);
    height: 14px;
    width: 14px;
}

.i-signed-off {
    background: url(../img/ico/i-signed-off.png);
    height: 14px;
    width: 14px;
}

.i-error {
    background: url(../img/ico/i-error.png);
    height: 14px;
    width: 14px;
}

.i-plus {
    background: url(../img/ico/i-plus.png);
    height: 20px;
    width: 20px;
}

.i-minus {
    background: url(../img/ico/i-minus.png);
    height: 20px;
    width: 20px;
}

.i-warning {
    background: url(../img/ico/i-warning.png);
    height: 60px;
    width: 60px;
}

.i-upload {
    background: url(../img/ico/i-upload.png);
    height: 60px;
    width: 60px;
}