@charset "utf-8";
@import url(common.css);
@import url(ico.css);


/*
 * File       : styles.css
 * Date       : 2023. 11. 28.
 *
 */

/* **************************************** *
 * 7. Data Analysis
 * **************************************** */
.data-analysis-wrap .col-7 {
    width: 78%;
}

.data-analysis-wrap .col-3 {
    width: 22%;
}

.chart-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.chart-title {
    align-items: center;
    color: var(--dark--text--write--100);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
}

.chart-title a {
    align-items: center;
    display: flex;
}

.data-analysis-chart {
    height: calc(100vh - 242px);
    padding: 0 8px 0 0;
}

.control-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.control-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-title {
    color: var(--dark--text--write--100);
    font-size: 16px;
    font-weight: 400;
}

.control-group .select-group select {
    height: 32px;
}

.control-group button {
    font-size: 14px;
    font-weight: 400;
    height: 32px;
}

.cont-body .col-3 {
    position: relative;
}

.control-list {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.card-h {
    height: 100%;
}

.card-h .card-box {
    height: 100%;
}

/* **************************************** *
 * 8. Class Analysis
 * **************************************** */
.chart-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.chart-top .left {
    width: auto;
}

.chart-top .right {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.chart-top button {
    width: 100px;
}

.class-analysis-wrap .select-group {
    width: 140px;
}

.class-analysis-wrap .select-group select {
    text-align: left;
}

.class-analysis-wrap .col-5 .chart-top {
    height: 36px;
}

.class-analysis-wrap .card-group {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.class-analysis-wrap .card-box {
    background: var(--dark--bg--gray--20);
    flex: 1;
    height: 74px;
    padding: 16px 20px;
}

.class-analysis-chart .card-box p {
    color: var(--dark--text--write--70);
    font-size: 14px;
    font-weight: 400;
}

.class-analysis-wrap .card-group .dl-group dl {
    align-items: center;
    flex-direction: column;
}

.class-analysis-chart {
    height: calc(100vh - 498px);
}

/* **************************************** *
 * 9. Full Disclosure Analysis
 * **************************************** */
.full-disclosure-analysis .check-group {
    width: calc((100% - 20px)/2);
}

.full-disclosure-analysis .row {
    flex-direction: column;
    gap: 20px;
}

.full-disclosure-analysis .select-group {
    width: 200px;
}

.full-disclosure-analysis .select-group select {
    text-align: left;
}

.full-disclosure-analysis .right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.full-disclosure-analysis .loading {
    color: var(--dark--text--write--70);
    font-size: 14px;
    font-weight: 400;
}

.full-disclosure-analysis .input-group input {
    height: 36px;
    width: 200px;
}

.full-disclosure-analysis .data-analysis-chart {
    height: calc(100vh - 302px);
}

/* **************************************** *
 * 10. Report
 * **************************************** */
.report-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.report-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 36px;
}

.report-title {
    align-items: center;
    color: var(--dark--text--write--100);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 6px;
}

.report-wrap .list {
    list-style: disc;
    padding: 0 0 0 20px;
}

.report-wrap .list li {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    list-style: disc;
    margin: 0 0 4px 0;
}

.report-wrap .check-wrap {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
    margin: 8px 0 16px 0;
}

.report-wrap .check-group,
.report-wrap label {
    width: 100%;
}

.report-top button {
    min-width: 80px;
    width: auto;
}

.report-preview {
    background: var(--dark--bg--gray--50);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 296px);
    gap: 20px;
    padding: 20px;
}

.report-preview .pagination {
    margin: auto 0 0 0;
}

.event-check-wrap {
    max-height: calc(100vh - 614px);
    min-height: 316px;
    padding: 0 8px 0 0;
}

.highlight {
    background: var(--dark--bg--yellow--100);
    height: 20px;
    margin: 0 0 0 auto;
    width: 100px;
}

.report-wrap .input-group {
    margin: 8px 0 0 0;
}

/* **************************************** *
 * 1. Login
 * **************************************** */
.login-header {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: space-between;
    min-width: 1600px;
    padding: 0 60px;
    position: absolute;
    width: 100%;
}

.login-header img {
    height: 58px;
}

.login-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.login-top {
    text-align: center;
}

.login-top h2 {
    color: var(--dark--text--write--100);
    font-size: 32px;
    font-weight: 700;
}

.login-top p {
    color: var(--dark--text--write--70);
    font-size: 16px;
    font-weight: 400;
}

.login-body {
    background: var(--dark--bg--gray--50);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    width: 480px;
}

.login-body .input-wrap {
    flex-direction: column;
}

.login-body .btn-group {
    flex-direction: column;
}

.login-body .btn-group button {
    color: var(--dark--text--write--100);
    font-size: 15px;
    font-weight: 400;
}

.login-body .find {
    color: var(--dark--text--sky--100);
    font-size: 15px;
    font-weight: 400;
    display: block;
    text-align: center;
}

.login-body .terms {
    color: var(--dark--text--write--70);
    font-size: 15px;
    font-weight: 400;
    display: block;
    text-align: center;
}

/* **************************************** *
 * 3. Patient List
 * **************************************** */
.total {
    color: var(--dark--text--write--100);
    font-size: 16px;
    font-weight: 400;
}

.total span {
    color: var(--dark--bg--secondary--100);
    margin: 4px;
}

.table-wrap .input-search {
    width: 360px;
}

.input-search-area {
    display: flex;
    gap: 4px;
}

.table-wrap .select-group select {
    text-align: left;
}

.input-search-area .select-group select {
    min-width: auto;
    width: 72px;
}

.table-wrap button {
    font-size: 13px;
    padding: 0 20px;
    width: auto;
}

.status-area {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}

/* **************************************** *
 * 4.Patiend_registration
 * **************************************** */
.popup-body .row {
    flex-wrap: wrap;
}

.popup-body .radio-group {
    height: 46px;
}

.popup-body .input-group.h-auto {
    align-items: flex-start;
    height: auto;
}

/* **************************************** *
 * 5.Note
 * **************************************** */
.btn-del {
    align-items: center;
    background: none;
    border: 1px solid var(--dark--border--gray--30);
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0 !important;
    width: 32px !important;
}

.btn-del:active,
.btn-del:focus,
.btn-del:hover {
    background: var(--dark--bg--gray--50);
}

.btn-plus {
    align-items: center;
    background: none;
    border: 1px solid var(--dark--border--gray--30);
    border-radius: 4px;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 0 !important;
    width: 32px !important;
}

.btn-plus:active,
.btn-plus:focus,
.btn-plus:hover {
    background: var(--dark--bg--gray--50);
}

/* **************************************** *
 * 6.Detail
 * **************************************** */
.popup-body .cont-body {
    height: 400px;
    max-height: 400px;
}

/* **************************************** *
 * 17.Common Code Add
 * **************************************** */
.text-upload-area {
    margin: 20px 0 0 0;
}

/* **************************************** *
 * 19.Notice
 * **************************************** */
.notice-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notice-top {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notice-top p {
    color: var(--dark--text--write--50);
    font-size: 14px;
    font-weight: 400;
}

.notice-top .title {
    margin: 0;
}

.notice-body {
    background: var(--dark--bg--gray--50);
    border: 1px solid var(--dark--border--gray--30);
    border-radius: 4px;
    color: var(--dark--text--write--70);
    font-size: 16px;
    font-weight: 400;
    height: 400px;
    padding: 16px;
}

/* **************************************** *
 * Warning Modal
 * **************************************** */
.warning-wrap {
    margin: 20px 0 0 0;
}

.modal-body .row {
    flex-wrap: wrap;
}

.warning-wrap .row {
    margin: 12px auto 0 auto;
    max-width: 300px;
}

.warning-wrap h6 {
    height: 32px !important;
}

/* **************************************** *
 * changingPasswordModal
 * **************************************** */
.changing-password-modal .input-wrap {
    flex-direction: column;
    margin: 20px 0 0 0;
}

.modal-body .input-group.h-auto {
    align-items: flex-start;
    height: auto;
}

/* **************************************** *
 * 18.Notice
 * **************************************** */
.h-598 {
    max-height: calc(100vh - 266px);
}

/* **************************************** *
 * 16.Common Code
 * **************************************** */
.h-210 {
    max-height: calc(100vh - 210px);
}

/* **************************************** *
 * 12.User management
 * **************************************** */
.basic-table tbody tr td.blue {
    color: var(--dark--text--sky--100);
}

.basic-table tbody tr td.red {
    color: var(--dark--text--secondary--100);
}

/* **************************************** *
 * 11. Admin
 * **************************************** */
.card-area {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.card-wrap .card-group {
    display: flex;
    gap: 40px;
}

.card-group .card-box {
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    width: calc((100% - 120px) / 4)
}

.card-group .card-box p {
    color: var(--dark--text--write--70);
    font-weight: 18px;
    font-weight: 400;
    margin: 12px 0 0 0;
}

/* **************************************** *
 * ETC
 * **************************************** */
.h-265 {
    max-height: 265px;
}

.result-wrap {
    height: 600px;
    max-height: 536px;
}